@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   line-height: 1.5;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #1f2937;
    color: #e5e7eb;
    height: 60px;
}

.navbar .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navbar a,
.header p {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    background-color: #1f2937;
    min-height: 440px;
    
}

.header h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    line-height: 1.2;
}

.header p {
    margin-bottom: 10px;
}

.header button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.header .img {
    background-color: gray;
    color: #f9faf8;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.header div {
    flex-basis: 50%;
    
}

.header .container {
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.boxes {
    background-color: white;
    min-height: 440px;
}

.boxes h1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.boxes p {
    color: gray;
    font-size: 18px;
    text-align: center;
}

.boxes .box {
    height: 175px;
    width: 175px;
    border: 5px solid #3882f6;
    border-radius: 18px;
}

.boxes .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    height: 500px;
}

.boxes .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.boxes .infographic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 175px;
}

.quote {
    background-color: #e5e7eb;
    min-height: 500px;
}

.quote p {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;       
}

.quote .author {
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    align-self: flex-end;
}

.quote .container {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
}

.call {
    background-color: white;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call h2 {
    color: #f9faf8;
    font-size: 24px;
    line-height: 1;
}

.call p {
    color: #e5e7eb;
    font-size: 18px;
}

.call button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #f9faf8;
}

.call .container {
    background-color: #3882f6;
    display: flex;
    min-width: 1100px;
    min-height: 150px;
    align-items: center;
    justify-content: center;
    gap: 150px;
    border-radius: 10px;
}

